body{
    background-color: yellow;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body > div{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body > div > div{
    width: 100px;
    height: 100px;
    background-color: purple;
}
body > div > div:first-child{
    display: none;
    background-color: green;
}
body > div > div:last-child{
    display: none;
    background-color: yellow;
}