div{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: yellow;
    list-style-type: none;
    justify-content: space-between;
}
div li{
    width: 100px;
    height: 100px;
    background-color: purple;
}