div{
    width: 100%;
    height: 400px;
    display: flex;
    align-items:flex-end;
    flex-direction: row-reverse;
    gap: 5px;
    background-color: yellow;
    list-style-type: none;
}
div li{
    width: 100px;
    height: 100px;
    background-color: purple;
}