div
{
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
   
}
div:first-child
{
    background-color: green;
    flex-shrink: 2;
    order: 1;
}
div:nth-child(2)
{
    background-color: yellow;
    flex-grow: 4;
    order: 3;
}
div:last-child
{
    background-color: purple;
    flex-shrink: 2;
    order: 2;
}