body {
  margin: 0;
  padding: 0;
}

header {
  background-color: purple;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.menu {
  display: flex;
  gap: 10px;
}

.menu .item {
  width: 60px;
  height: 25px;
  background-color: cyan;
}

main {
  display: flex;
  height: 600px;
}

.left {
  flex: 2;
  background-color: yellow;
}

.right {
  flex: 1;
  background-color: green;
}